$default: #EEEEEE;
$blue: #76ABAE;
$gray: #31363F;
$dark: #222831;

.color-default { color: $default; }
.color-blue { color: $blue; }
.color-gray { color: $gray; }
.color-dark { color: $dark; }

.bg-default { background-color: $default; }
.bg-blue { background-color: $blue; }
.bg-gray { background-color: $gray; }
.bg-dark { background-color: $dark; }